/* header font placeholder */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* sticky header placeholder */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* body font placeholder */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Credits font */
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* LATAA FONTIT: CORMORANT GARAMOND */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

@layer {
    :root {
        --header-toprow-height: 86px;
        --header-botrow-height: 50px;
        --header-height: calc(
            (var(--header-toprow-height) + var(--header-botrow-height) + 1px)
        );
        --hero-height: calc(100svh - var(--header-height));
        --header-row-height-broder: 51px;
    }
}

/* Custom CSS */

/* Scrollbar container */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #e0e0e0; /* Color of the track */
    border-radius: 10px; /* Rounded corners */
}

/* Scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
    background-color: #333; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded scrollbar */
    border: 2px solid #e0e0e0; /* Optional border around the thumb */
}

/* Hover effect on scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darken the scrollbar thumb when hovered */
}

/* Scrollbar corner (for when both x and y scrollbars are visible) */
::-webkit-scrollbar-corner {
    background: transparent;
}

.text-responsive-title {
    font-size: clamp(
        0.5rem,
        2vw + 0.5rem,
        1.5rem
    ); /* Adjust min, preferred, and max sizes */
}

.text-responsive-description {
    font-size: clamp(0.325rem, 1.5vw + 0.325rem, 1rem);
}

.collage-grid {
    display: grid;
    gap: 8px;
    padding: 0px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    /* Ensure the grid doesn't grow too tall */
    max-height: 80svh;
}

/* Large screens */
@media (min-width: 1024px) {
    .collage-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        height: auto; /* Allow grid to scale */
    }
    .collage-item img {
        max-height: calc(60svh / 2);
    }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1024px) {
    .collage-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        max-height: 70svh;
    }
    .collage-item img {
        max-height: calc(70svh / 2);
    }
}

/* Small screens */
@media (max-width: 768px) {
    .collage-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        max-width: 90svw;
        max-height: 60svh; /* Adjust max-height for mobile */
    }
    .collage-item img {
        max-height: 50svh; /* Prevent images from growing too tall */
    }

    .title-container h2,
    .subtitle-container h2 {
        padding-top: 1rem;
        font-size: 1.1rem;
    }

    /* Container padding for extra spacing */
    .container-padding {
        padding-bottom: 1rem;
    }
}

.arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    fill: black !important;
    right: 10px;
}

.icon-black svg path {
    fill: black !important;
    color: black !important;
}

.icon-white svg path {
    fill: white !important;
    color: white !important;
}

.icon-black path {
    fill: black !important;
}

.icon-white path {
    fill: white !important;
}

input {
    display: none;
}

.grid {
    display: grid;
    width: 45px;
    height: 45px;
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
}

label {
    display: block;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

@media (min-aspect-ratio: 1/1) {
    label {
        width: 100%;
        height: 100%;
    }
}

.menu--1 label {
    bottom: 0;
    right: 0;
}

path {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

circle {
    fill: #fff3;
    opacity: 0;
}

label:hover circle {
    opacity: 1;
}

.cross input:checked + svg .line--1,
.cross input:checked + svg .line--3 {
    --length: 22.627416998;
}

.cross input:checked + svg .line--2 {
    --length: 0;
}

.back input:checked + svg .line--1,
.back input:checked + svg .line--3 {
    --length: 8.602325267;
}

.menu--1 {
    background-color: #ffffff;
}

.menu--1 .line--1,
.menu--1 .line--3 {
    --total-length: 126.64183044433594;
}

.menu--1 .line--2 {
    --total-length: 70;
}

.menu--1 input:checked + svg .line--1,
.menu--1 input:checked + svg .line--3 {
    --offset: -94.1149185097;
}

.menu--1 input:checked + svg .line--2 {
    --offset: -50;
}

/* Custom CSS for perspective and snapping */
.custom-perspective {
    perspective: 500px;
}

/* Aboutme */
/* title styles */
.aboutme-text span {
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.3;
}

.aboutme-text span::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-after 3s cubic-bezier(0.77, 0, 0.18, 1) forwards;
    transform: translateX(-101%);
}

.aboutme-text span::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-before 1s cubic-bezier(0.77, 0, 0.18, 1) forwards;
    transform: translateX(0);
}

.aboutme-text span:nth-of-type(1)::before,
.aboutme-text span:nth-of-type(1)::after {
    animation-delay: 0.1s;
}

.aboutme-text span:nth-of-type(2)::before,
.aboutme-text span:nth-of-type(2)::after {
    animation-delay: 0.25s;
}

.aboutme-text span:nth-of-type(3)::before,
.aboutme-text span:nth-of-type(3)::after {
    animation-delay: 0.5s;
}

.aboutme-text span:nth-of-type(4)::before,
.aboutme-text span:nth-of-type(4)::after {
    animation-delay: 0.75s;
}

.aboutme-text span:nth-of-type(5)::before,
.aboutme-text span:nth-of-type(5)::after {
    animation-delay: 1s;
}

@keyframes a-ltr-after {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(101%);
    }
}

@keyframes a-ltr-before {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(200%);
    }
}
